@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">
        We are a small convenience store with a prime location in a prominent city ran by a friendly
        shopkeeper named Alison. We also buy and sell only the finest goods. Unfortunately, our goods are
        constantly degrading in quality as they approach their sell by date. We currently update our
        inventory manually.
    </p>
    <p>The task is to write a program to automate the inventory management based on the following rules:
    </p>
    <p>@Html.ActionLink("About", "About", "Home")</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Click on the link to the run the end of day process.
        </p>
        <p>@Html.ActionLink("Next Day Process", "Index", "Process")</p>
    </div>
    <div class="col-md-6">
        <h2>View Inventory</h2>
        <p>Click on the link to view the list of inventories.</p>
        <p>@Html.ActionLink("Inventory list", "Index", "Inventories")</p>
    </div>
</div>

